# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.sublime-workspace

# Node (in case someone uses tooling)
node_modules/
npm-debug.log
yarn-error.log

# JetBrains
*.iml

# Python
__pycache__/
*.py[cod]
